---
title: Release Notes for Vormetric Transparent Encryption for PCF
owner: Partners
---

##<a id="ver"></a> v0.1.0 (Beta)

**Release Date:** July 31th, 2018 

Features included in this Beta release:

* Transparent encryption for PCF MySQL v2.4.0 or later.


Known issues in this release:

* Upgrades of MySQL and Stemcells may fail for some instances.


